{% extends 'app.html' %}

{% block title %}32-bit PRNGs{% endblock %}

{% block content %}
<h1 class="title">32-bit PRNGs</h1>

{% for prng in prngs %}
<input id="{{ prng }}" type="radio" name="prng" value="{{ prng }}" {% if forloop.first %}checked{% endif %}>
<label for="{{ prng }}">{{ prng }}</label>
<br>
{% endfor %}

<label for="seed">Seed:</label>
<input id="seed" type="number" value="0">
<br>

<button id="start" type="button">Start</button>

<h2 class="subtitle">Noise</h2>
<canvas id="noise"></canvas>

<h2 class="subtitle">Distribution</h2>
<canvas id="dist"></canvas>
{% endblock %}
