@charset "utf-8";

@import url('../shared/shared.css');

:root {
  --canvas-height: 512px;
  --canvas-width: 512px;
}

html {
  background: #fff;
  color: #000;
}

canvas {
  background: #000;
  box-shadow: 0 0 0 1px #000;
  height: var(--canvas-height);
  width: var(--canvas-width);
}
