@charset "utf-8";

@import url('../templates/app.css');

:root {
  --canvas-height: 240px;
  --canvas-spacing: 24px;
  --canvas-width: 200px;
}

html {
  background: #dbcfb1;
}

body {
  margin: var(--canvas-spacing);
}

canvas {
  height: var(--canvas-height);
  width: var(--canvas-width);
}

#content {
  display: grid;
  grid-gap: var(--canvas-spacing);
  grid-template-columns: repeat(auto-fill, var(--canvas-width));
  justify-content: center;
}
