@charset "utf-8";

html,
button,
input {
  font-family: -apple-system, 'Segoe UI', 'DejaVu Sans', system-ui, sans-serif;
}

canvas {
  display: block;
}

/* Shared visual styles */

body {
  line-height: 1.6;
  margin: 1vw;
}

.title,
.subtitle {
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.4;
  margin: 20px 0;
}

.title {
  font-size: 48px;
}

.subtitle {
  font-size: 40px;
  margin-top: 40px;
}
