@charset "utf-8";

:root {
  --canvas-height: 540px;
  --canvas-width: 960px;
  --page-background: #fff;
  --page-color: #000;
}

html {
  background: var(--page-background);
  color: var(--page-color);
}

html,
button,
input {
  font-family: -apple-system, 'Segoe UI', 'DejaVu Sans', system-ui, sans-serif;
}

canvas {
  display: block;
  height: var(--canvas-height);
  width: var(--canvas-width);
}

/* Shared visual styles */

body {
  line-height: 1.6;
  margin: 1vw;
}

p {
  margin: 20px 0;
}

.title,
.subtitle {
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}

.title {
  font-size: 48px;
}

.title:first-child {
  margin-top: 0;
}

.subtitle {
  font-size: 40px;
}
